apiVersion: v1
kind: Service
metadata:
  name: trade-statistics-aggregator-svc
  namespace: learning-ks
spec:
  selector:
    app: trade-statistics-webapp
  ports:
    - protocol: TCP
      port: 8080
      name: http
      targetPort: 8080
  type: ClusterIP
